@keyframes slideoutp1 {
  from{left: 110%;}
  to{left: 90%;}
}

@keyframes slideinp1 {
  from{left: 90%;}
  to{left: 110%;}
}
@keyframes slideoutp2 {
  from{left: 90%;}
  to{left: 70%;}
}

@keyframes slideinp2 {
  from{left: 70%;}
  to{left: 90%;}
}

@keyframes slideoutextp1 {
  from{left: 129%;}
  to{left: 109%;}
}

@keyframes slideinextp1{
  from{left: 109%;}
  to{left: 129%;}
}
@keyframes slideoutextp2 {
  from{left: 109%;}
  to{left: 89%;}
}

@keyframes slideinextp2{
  from{left: 89%;}
  to{left: 109%;}
}
@keyframes slideinpall {
  from{left: 70%;}
  to{left: 110%;}
}

@keyframes slideoutbuttonred {
  from{top: 105%;}
  to{top: 91%;}
}

@keyframes slideinbuttonred {
  from{top: 91%;}
  to{top: 105%;}
}
@keyframes slideoutbuttongreen {
  from{top: 105%;}
  to{top: 84%;}
}

@keyframes slideinbuttongreen {
  from{top: 84%;}
  to{top: 105%;}
}
@keyframes slideoutbuttonsf {
  from{top: 105%;}
  to{top: 70%;}
}

@keyframes slideinbuttonsf {
  from{top: 70%;}
  to{top: 105%;}
}
@keyframes slideoutbuttonlf{
  from{top: 105%;}
  to{top: 77%;}
}

@keyframes slideinbuttonlf {
  from{top: 77%;}
  to{top: 105%;}
}

@keyframes slideinbuttonlog {
  from{top: 70%;}
  to{top: 105%;}
}

@keyframes slideoutbuttonlog {
  from{top: 105%;}
  to{top: 70%;}
}

@keyframes popupin {
  from{left: 110%; opacity: 0.5;}
  to{left: 50%; opacity:1}
}

@keyframes popupout {
  from{left: 50%; opacity:1}
  to{left: 110%; opacity:0.5}
}

@keyframes libraryselect {
  from{left:5%;}
  to{left: 15%;}
}

@keyframes librarydeselect {
  from{left: 15%; }
  to{left: 5%; }
}

html{
  background-color: #EAEAEA;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.exec{
  position: fixed;
  top: 84%;
  left: 85%;
  width: 250px;
  height: 50px;
  padding: 4px;
  border: 1px solid green;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-color: rgba(0,255,0,0.85);
  color: rgba(0,255,0,0.85);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.stop{
  position: fixed;
  top: 91%;
  left: 85%;
  width: 250px;
  height: 50px;
  padding: 4px;
  border: 1px solid red;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-color: rgba(255,0,0,0.85);
  color: rgba(255,0,0,0.85);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sf{
  position: fixed;
  top: 70%;
  left: 85%;
  width: 250px;
  height: 50px;
  padding: 4px;
  border: 1px solid red;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-color: rgba(0,0,255,0.85);
  color: rgba(0,0,255,0.85);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lf{
  position: fixed;
  top: 77%;
  left: 85%;
  width: 250px;
  height: 50px;
  padding: 4px;
  border: 1px solid red;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-color: rgba(0,0,255,0.85);
  color: rgba(0,0,255,0.85);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.exec:hover{
  border-color: rgba(0,255,0,1);
  color: rgba(0,255,0,1);
  background-color: transparent;
}

.stop:hover{
  border-color: rgba(255,0,0,1);
  color: rgba(255,0,0,1);
  background-color: transparent;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow aside #hand{
  width: 80px;
  height: 160px;
  background-color: #3C4048;
  position: absolute;
  left: -20%;
  top: 0%;
  transform: skewX(30deg);
  z-index: 1;
  margin-bottom: 10%;
  margin-left: 20%;
  
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}



.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output{
  border-color: white;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

.dndflow aside{
  top: 0%;
  left: 110%;
  width: 20%;
  height: 100%;
  position: fixed;
  transform: translate(-50%,0);
  background-color: #3C4048;
  display: flex;
  flex-direction: column;
  box-shadow: -10px 10px 50px rgba(0,0,0,0.25);
}

.dndflow aside div:not(#hand){
  margin-bottom: 5%;
  margin-left: 20%;
  z-index: 2;
}


.text-updater-node{
  height: 150px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.text-updater-node label {
  display: block;
  color: black;
  font-size: 12px;
}

.start-node, .end-node{
  height: 50px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
  border: 1px solid #1a192b;
  border-radius: 2px;
}

.image-output-node{
  display: flex;
  flex-direction: row;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}
.measure-node{
  height: auto;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
  border: 1px solid #1a192b;
  border-radius: 2px;
}
.measure-node label,.Select-model-node label{
  display: block;
  color: black;
  font-size: 12px;
}

.Select-model-node{
  display: flex;
  width: auto;
  height: auto;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 5px;
  background: white;
  border: 1px solid #1a192b;
  border-radius: 2px;
}

.Select-model-node .cont{
  display: block;
  width: auto;
  
}

.predict-YOLO{
  height: 300px;
  width: 200px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  cursor: grab;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 2px;
  background-color: white;
}

.predict-YOLO *:not(.handle){
  padding: 2px;
  margin-left: 2px;
}

.predict-YOLO label,.Select-model-node label{
  display: block;
  color: black;
  font-size: 12px;
}
.description{
  visibility: hidden;
}
.description:hover{
  visibility: visible;
}

#sideextend{
  top: 0%;
  left: 129%;
  width: 120%;
  height: 100%;
  position: fixed;
  transform: translate(-50%,0);
  background-color: #3C4048;
  box-shadow: -10px 10px 50px rgba(0,0,0,0.25);
  padding-top: 15%;
}

.nodesv2{
  height: 20px;
  width: 60%;
  padding: 2px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  border-color: white;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#blur{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  visibility: hidden;
}

#popup{
  flex-direction: column;
  height: 50%;
  width: 50%;
  border: 2px solid #1a192b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  position: fixed;
  left: 110%;
  top: 50%;
  transform: translate(-50%,-50%);
  visibility: hidden;
}
.inputfield{
  outline: none;
  caret-color: transparent;
  border: 2px solid black;
}
.library{
  position: absolute;
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  color: #3C4048;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: skewX(-30deg);
}
.libraryribbon{
  position: absolute;
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.863);
  color: #3C4048;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: skewX(30deg);
}
.library p{
  transform: skewX(30deg);
}
#log{
  width: 70%;
  height: 25%;
  background-color: white;
  border: 2px solid black;
  position: fixed;
  top: 70%;
  left: 10%;
  visibility: visible;
  overflow-y: auto;
  scrollbar-width: none;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.small{
  height: auto;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
  border: 1px solid #1a192b;
  border-radius: 2px;
}
.cont{
  height:auto;
}

.close{
  width: 5px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: 2%;
  left: 97%;
  transform: skewX(40deg);
  border-radius: 2px;
  
}
.close::after{
  content: "";
  width: 5px;
  height: 20px;
  background-color: black;
  position: absolute;
  transform: skewX(-60deg);
  border-radius: 2px;
}
#contflows{
  position: absolute;
  height: 50%;
  width: 40%;
  left: 10%;
  top: 20%;
  overflow-y:auto;
  scrollbar-width: none;
  background: linear-gradient(to top,transparent,rgba(143, 143, 143, 0.15),transparent);
}
#contflows::-webkit-scrollbar { 
  display: none; 
}
.text{
  color: black;
  font-size: 12px;
}
button{
  width: 100px;
  height: 20px;
  color: black;
}
.custom-node-collapsed{
  width: 200px;
  height: 70px;
  border: 2px solid black;
  background-color: white;
  border-radius: 2%;
  place-items: center;
  word-wrap:break-word;
  text-align: center;
  padding-top: 5%;
}
.output-image-node{
  min-width: 200px;
  min-height: 70px;
  width: auto;
  height: auto;
  border: 2px solid black;
  background-color: white;
  border-radius: 2%;
  place-items: center;
  word-wrap:break-word;
  text-align: center;
  padding-top: 5%;
}
.custom-node-collapsed *:not(.handle,.arrow-collapse,.arrow-expand,.expand){
  padding-left: 5%;
  padding-right: 5%;
}
.custom-node-expanded{
  display: flex;
  width: auto;
  height: auto;
  min-width: 200px;
  min-height: 70px;
  flex-direction: column;
  border: 2px solid black;
  background-color: white;
  border-radius: 2%;
  padding-top: 10%;
}
.custom-node-expanded .nodelabel{
  width: auto;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-40%);
  order: 1;
  text-align: center;
}

.custom-node-expanded div:not(.handle,.expand,.arrow-expand,.arrow-collapse){
  padding: 5px;
  margin: 5px;
  order: -1;
}
button{
  display: block;
  align-items: center;
  text-align: center;
  width: auto;
  overflow: hidden;

}
.radio{
  display: flex;
  flex-direction: column;
}
.contadd{  
  position: fixed;
  top: 2%;
  left: 52.5%;
  width: 25px;
  height: 25px;
}
.outtercircleadd{
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.plusadd{
  position: absolute;
  width: 3px;
  height: 15px;
  border-radius: 1.5px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.plusadd::after{
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  border-radius: 1.5px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(90deg);
}
.contadd:hover{
  filter: brightness(60%);
  cursor: pointer;
}
.defaultinput{
  outline: none;
  border-radius: 5px;
  border: 2px solid black;
  caret-color: transparent;
  position: absolute;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.defaultlabel{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
}
select{
  border:2px solid black;
  outline: none;
  border-radius: 5px;
  display: block;
  align-items: center;
  text-align: center;
  width: auto;
  overflow: hidden;
  min-height: 20px;
  background-color: white;
}
.defaultbutton{
  position: absolute;
  width: 100px;
  height: 30px;
  border:5px solid black;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  place-content: center;
}
.defaultbutton:hover{
  cursor: pointer;
  filter: brightness(160%);
}
.defaultscrollinvisible{
  scrollbar-width: none;
}
.defaultscrollinvisible::-webkit-scrollbar { 
  display: none; 
}
.expand{
  width: 100%;
  height: 20px;
  cursor: pointer;
}

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.arrow-expand{
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  border-bottom: 5px solid transparent;
  position: relative;
  left: 50%;
  transform: translate(-50%,50%);
  cursor: pointer;
}
.arrow-collapse{
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid black;
  position: relative;
  left: 50%;
  transform: translate(-50%,50%);
  cursor: pointer;
}
input{
  accent-color: black;
  border: 2px solid black;
  border-radius: 15px;
}
button{
  font-weight: bolder;
  border: 2px solid black;
  background-color: white;
  max-width: 200px;
  overflow-x: auto;
}
img{
  max-height: 100%;
  max-width: 100%;
}

.logo{
  position: absolute;
  top: 1%;
  left: 1%;
  opacity: 0.5;
  transition: 1s;

}

.logo:hover{
  transform: skewX(20deg);
}